.videoconf-video-panel {
  background: #0c0c0c;
  opacity: 0.85;
//  padding-bottom: 20px;
}

.videoconf-participant-panel {
  background: #0c0c0c;
  opacity: 0.85;
}

.videoconf-logo {
  height: 15px;
  margin-left: 5px;
}
.videoconf-logo img {
  height: 15px;
}
.videoconf-video-self {
  margin-top: 40px;
  height: 120px !important;
}
.videoconf-video-frame {
  overflow: hidden;
  padding: 0;
  height: 100px;
}
.videoconf-zoom-frame {
  overflow: hidden;
  padding: 0;
  height: 500px;
  width: 100%;
//  border-top: 1px solid #ffffff;
  border-right: 1px solid #acacac;
}
.videoconf-zoom-pane {
  position: relative;
  height: 500px;
  width: 100%;
}
.videoconf-zoom-icon {
  color: #ffffff;
  position: absolute;
  top: 80px;
  left: 150px;
  z-index: 1;
  cursor: pointer;
  display: none;
}
.videoconf-zoom-close {
  width: 100%;
  position: absolute;
  z-index: 1;
  padding-right: 10px;
  cursor: pointer;
}

.videoconf-video-pane {
  position: relative;
  height: 100%;    //150px;
  width: 100%;     //180px;
}

.videoconf-video-overlay-text {
  font-size: 20px;
  z-index: 1;
  opacity: .4;
  color: #ffffff;
  padding-left: 5px;
  position: absolute;
}

.videoconf-horizontal-flip {
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
  width: 100%;
}

.videoconf-btn {
  border-radius: 15px;
  border: 2px solid #7c7c7c;
  font-size: 25px;
  margin-top: 10px;
  cursor: pointer;
}

.videoconf-btn p {
  margin: 0;
}

.videoconf-text-input {
  background: #000000;
  width: 100%;
  padding: 8px;
  border: 1px solid #7c7c7c
}

.videoconf-join-error {
  color: red;
}

.pull-right a {
  padding-right: 5px;
}
