.webphone{
  background: url(/assets/softphone.jpg) no-repeat;
  background-size: contain;
  opacity: 0.5;
  position: fixed;
  width: 35px;
  height: 50px;
  display: block;
  top: 7em;
  left: 2em;
  text-decoratoin: none;
  z-index: 500;
}

.webphone-logo {
  height: 15px;
}

.webphone-panel {
  opacity: 0.96; 
  background-color: #ececec;
  min-height: 500px;
}

.webphone-display {
  background: #0c0c0c;
  color:      #cccccc;
}

.webphone-digits {
  font-size: 40px;
  min-height: 57px;
  vertical-align: middle;
}

.webphone-key {
  cursor:        pointer;
  color:         #1c1c1c;
  padding-top:   0.8em;
  height:        78px;
  font-size:     30px;
}
.webphone-key i {
  font-size: 25px;
}
.webphone-key p {
  padding-left: 20%;
}
.webphone-key p small {
  font-size: 0.43em;
}
.webphone-fkey {
  cursor:        pointer;
  color:         #1c1c1c;
}
.webphone-fkey-alt {
  background-color:   #ffa500;
}

.webphone-fkey p {
  text-align: center;
  margin-top: 5px;
  margin-bottom: 0;
}
.side-key {
  border-bottom: 1px solid #3c3c3c;
}
.center-key {
  border-bottom: 1px solid #3c3c3c;
  border-left:   1px solid #3c3c3c;
  border-right:  1px solid #3c3c3c;
}
.active-key {
  background: #ff9200;
  color: #ffffff;
}
.webphone-ckey-voice {
  cursor: pointer;
  color: #1c1c1c;
  border-right: 1px solid #3c3c3c;
  min-height: 58px;
  font-size: 30px;
  padding-top: 12px
}

.webphone-ckey-video {
  cursor: pointer;
  color: #1c1c1c;
  font-size: 30px;
  padding-left: 30px;
  padding-top: 8px;
  font-weight: 100;
  //text-align: center;
}

.webphone-elapse-time {

}

.webphone-inactive {
  display: none !important;
}

.webphone-answer-key {
  cursor: pointer;
  background-color: #2fa4e7;
  color: #ffffff;
  padding: 15px;
}

.webphone-reject-key {
  cursor: pointer;
  background-color: #b40000;
  color: #ffffff;
  padding: 15px;
}

.webphone-caller-id {
  font-size: 40px;
}

.webphone-video-frame {
  overflow: hidden;
  padding: 0;
  height: 500px;
}
.webphone-pip-frame {
  overflow: hidden;
  padding: 0;
  height: 100px;
}

.webphone-video-fkey {
  background: #cccccc;
  color:      #1c1c1c;
  cursor:     pointer;
  z-index:    1;
}

.webphone-video-fkey p {
  text-align: center;
  margin-top: 5px;
  margin-bottom: 0;
}

.webphone-video-fkey-center {
  border-left:   1px solid #3c3c3c;
  border-right:  1px solid #3c3c3c;
}

.webphone-video-elapse-time {
  font-size: 20px;
  z-index: 1;
  opacity: .4;
  color: #ffffff;
}

.webphone-video-top-overlay {
  position: absolute;
  width: 100%;
  margin-left: 1px;
}
.webphone-video-bottom-overlay {
  position: absolute;
  width: 100%;
  top: 400px;
  margin: 0;
}
.webphone-video-bottom-overlay-btn {
  //background: #b40000;
  border: 2px solid #b40000;
  border-radius: 8px;
  color: #b40000;
  margin-top: 35px;
  cursor: pointer;
}
.webphone-video-bottom-overlay-btn p {
  text-align: center;
  padding-top: 10px;
  font-size: 20px;
}
.webphone-video-main {
  position: relative;
  height: 500px;
  width: 750px;
}
.webphone-video-pip {
  position: relative;
  height: 100px;
  width: 150px;
}

.webphone-horizontal-flip {
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
}
